In [108]:
import pandas as pd
import numpy as np

In [131]:
pd.set_option('display.max_columns', 21)
df = pd.read_csv('C:/Users/Ayron/repos/Datasets/kc_house_data.csv')

In [132]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [144]:
df.shape

(21613, 21)

In [7]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## 1.	Quantas casas estão disponíveis para compra?

In [9]:
#Casa disponíveis para compra:
df['id'].shape

(21613,)

## 2.	Quantos atributos as casas possuem?

In [149]:
total = -2
for i in df.columns:
    total += 1

print(total)

19

## 3.	Quais são os atributos das casas?

In [37]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 4.	Qual a casa mais cara (casa com o maior valor de venda)?

In [38]:
df['price'].max()

7700000.0

In [46]:
df['price'].sort_values(ascending=False)

7252     7700000.0
3914     7062500.0
9254     6885000.0
4411     5570000.0
1448     5350000.0
           ...
8274       82000.0
16198      81000.0
465        80000.0
15293      78000.0
1149       75000.0
Name: price, Length: 21613, dtype: float64

## 5.	Qual a casa com maior numero de quartos?

In [86]:
df[['id', 'bedrooms']].sort_values('bedrooms', ascending=False)

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
...           ...       ...
19452  3980300371         0
8484   2310060040         0
875    6306400140         0
8477   2569500210         0
9773   3374500520         0

[21613 rows x 2 columns]

## 6.	Qual a soma total de quartos do conjunto de dados?

In [87]:
df['bedrooms'].sum()

72854

## 7.	Quantas casas possuem 2 banheiros?

In [96]:
cont = 0
for i in df['bathrooms']:
    if i == 2.00:
        cont += 1
    else:
        pass
print(cont)

1930

## 8.	Qual o preço médio de todas as casas no conjunto de dados?

In [93]:
df['price'].mean()

540088.1417665294

## 9.	Qual o preço médio de casas com 2 banheiros?

In [111]:
#Filtro usando query().
df_bathrooms_two = df.query('bathrooms == 2.00')
df_bathrooms_two['price'].mean()

457889.7186528497

In [118]:
#Filtro usando indexação posicional.
df_filtro = df['bathrooms'] == 2.00
posicao = np.flatnonzero(df_filtro)
df_bathrooms_two_pos = df.iloc[posicao]
df_bathrooms_two_pos['price'].mean()

457889.7186528497

In [119]:
#Filtro usando indexação booleana.
df_filtro = df['bathrooms'] == 2.00
df_bathrooms_two_boolean = df[df_filtro]
df_bathrooms_two_boolean['price'].mean()

457889.7186528497

## 10.	Qual o preço mínimo entre as casas com 3 quartos?

In [127]:
df_filtro_bedrooms = df.query('bedrooms == 3')
df_filtro_bedrooms['price'].min()

82000.0

In [130]:
teste = df.query('bedrooms == 3')
teste[['price', 'bedrooms']].sort_values('price')

           price  bedrooms
8274     82000.0         3
13756    86500.0         3
5866     89000.0         3
18939    90000.0         3
5723     96500.0         3
...          ...       ...
11535  3200000.0         3
18199  3300000.0         3
7989   3400000.0         3
2864   3600000.0         3
19017  3800000.0         3

[9824 rows x 2 columns]

## 11.	Quantas casas possuem mais de 300 metros quadrados na sala de espera?

In [164]:
onze_df_filtro_bedrooms = df.query('sqft_living > 300')
onze_df_filtro_bedrooms.shape

(21612, 21)

In [168]:
soma = 0
for i in onze_df_filtro_bedrooms['sqft_living']:
    soma += 1
print(soma)

21612

## 12.	Quantas casas tem mais de 2 andares?

In [166]:
doze_df_filtro_bedrooms = df.query('floors >= 2.0')
doze_df_filtro_bedrooms.shape

(9023, 21)

In [167]:
soma = 0
for i in doze_df_filtro_bedrooms['floors']:
    soma += 1
print(soma)

9023

## 13.	Quantas casas tem vista para o mar?

In [170]:
treze_df_filtro = df.query('waterfront == 1.0')
treze_df_filtro.shape

(163, 21)

In [171]:
soma = 0
for i in treze_df_filtro['waterfront']:
    soma += 1
print(soma)

163

## 14.	Das casas com vista para o mar, quantas tem 3 quartos?

In [172]:
quatorze_df_filtro = treze_df_filtro.query('bedrooms == 3')
quatorze_df_filtro.shape

(64, 21)

In [173]:
soma = 0
for i in quatorze_df_filtro['bedrooms']:
    soma += 1
print(soma)

64