# Imports

In [143]:
import pandas as pd
import janitor

# Lendo dados

In [162]:
pd.set_option('display.max_columns', 21)
df = pd.read_csv('C:/Users/Ayron/repos/Datasets/kc_house_data.csv')

In [163]:
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

In [164]:
df.shape

(21613, 21)

In [165]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [166]:
df['date'] = pd.to_datetime(df['date'])
#df['date'] = pd.to_datetime(df["date"].dt.strftime('%Y-%m-%d'))

# Manipulação dados

### 1.	Crie uma nova coluna chamada “house_age”
    a.	Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
    b.	Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’
    
    Resposta: Não há 'old_house', visto que não nenhuma casa com data inferior 2014-01-01 na feature 'date'.

In [167]:
# df.loc[df.date < '2014-01-01', 'house_age'] ='old_house' (outra forma de filtrar)
df_filtered = df.filter_date('date', '1700-01-01', '2014-01-01')
df_filtered.shape

(0, 21)

In [168]:
df['house_age'] = 'new_house'

In [169]:
df['house_age'].value_counts()

new_house    21613
Name: house_age, dtype: int64

### 2.	Crie uma nova coluna chamada: “dormitory_type”
    a.	Se o valor da coluna “bedrooms” for igual a 1 => ‘studio’
    b.	Se o valor da coluna “bedrooms” for igual a 2 => ‘apartment’
    c.	Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [170]:
df['bedrooms'].value_counts()

3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
33       1
11       1
Name: bedrooms, dtype: int64

In [171]:
df['dormitory_type'] = 'house'

In [172]:
df.loc[df.bedrooms == 1, 'dormitory_type'] ='studio'
df.loc[df.bedrooms == 2, 'dormitory_type'] ='apartment'

In [173]:
df[['bedrooms', 'dormitory_type']]

       bedrooms dormitory_type
0             3          house
1             3          house
2             2      apartment
3             4          house
4             3          house
...         ...            ...
21608         3          house
21609         4          house
21610         2      apartment
21611         3          house
21612         2      apartment

[21613 rows x 2 columns]

In [174]:
df['dormitory_type'].value_counts()

house        18654
apartment     2760
studio         199
Name: dormitory_type, dtype: int64

### 3.	Crie uma nova coluna chamada: “condition_type”
    a.	Se o valor da coluna “condition” for menor ou igual a 2 => ‘bad’
    b.	Se o valor da coluna “condition” for igual a 3 ou 4 => ‘regular’
    c.	Se o valor da coluna “condition” for igual a 5 => ‘good’

In [175]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

In [210]:
df['condition_type'] = 'bad'

In [211]:
df.loc[df.condition == 3, 'condition_type'] = 'regular'
df.loc[df.condition == 4, 'condition_type'] = 'regular'
df.loc[df.condition == 5, 'condition_type'] = 'good'

In [212]:
df['condition_type'].value_counts()

regular    19710
good        1701
bad          202
Name: condition_type, dtype: int64

### 4.	Modifique o TIPO da coluna “condition” para STRING

In [214]:
copia = df.copy()